* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background: #333;

}

.contianer {
  background: #222;
  width: 80vw;
  margin: auto;
  display: grid;
  grid-template-columns: 5fr 3fr;
  padding: 20px;
  border-radius: 10px;
}

.img {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;

}

img img,canvas {
  max-width: 45vw;
  max-height: 60vh;
}

.upload input {
  display: none;
}

.upload label {
  color: #fff;
  padding: 8px 20px;
  border: 2px #fff dashed;
  cursor: pointer;
}

.filters ul,
.filters ul li {
  display: flex;
  flex-direction: column;
  gap: 25px;
  direction: rtl;
}

.filters ul li label {
  color: #fff;
}

.filters ul li:last-child {
  flex-direction: row;
  justify-content: space-around;
}

.filters ul li a,
span {
  color: #fff;
  background: #060;
  padding: 10px 20px;
  border-radius: 10px;
}

@media (max-width:650px) {
  .contianer {
    grid-template-columns: 1fr;
  }

  .img img,canvas{
    max-width:80vw ;
  }

}